.padded {
    padding: 0px 0px 30px 0px;
}
.padded-bar {
    padding: 10px 0px 5px 10px;
}
.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-y: scroll;
    width: 240px;
}
.main {
    margin-left: 245px;
    padding-top: 10px;
}
.list-group-item > a {
    color: black;
    font-size: 0.8em;
}
.list-group-item {
    padding: .35rem 1.25rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #555555;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #262626;
}
::-webkit-scrollbar-thumb:active {
  background: #262626;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.sale-box {
    text-align: center;
}
.sale-box > img {
    width: 100%;
}
.recents {
    padding: 1.5rem;
}